<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vuetify 3</title>
  <script type="module" crossorigin src="/assets/index-b78a7de4.js"></script>
  <link rel="modulepreload" crossorigin href="/assets/index-cdcf0de2.js">
  <link rel="modulepreload" crossorigin href="/assets/pagination-862435bb.js">
  <link rel="modulepreload" crossorigin href="/assets/VListItem-b178d83a.js">
  <link rel="modulepreload" crossorigin href="/assets/filter-02d56946.js">
  <link rel="modulepreload" crossorigin href="/assets/VTooltip-4349cadb.js">
  <link rel="modulepreload" crossorigin href="/assets/user-4569635d.js">
  <link rel="modulepreload" crossorigin href="/assets/url-ae18edad.js">
  <link rel="modulepreload" crossorigin href="/assets/user-e9048cf5.js">
  <link rel="modulepreload" crossorigin href="/assets/use-swrv-d5f70afd.js">
  <link rel="modulepreload" crossorigin href="/assets/app-aa172bdf.js">
  <link rel="modulepreload" crossorigin href="/assets/VAlert-5900baa7.js">
  <link rel="modulepreload" crossorigin href="/assets/VAutocomplete-3c21ea18.js">
  <link rel="modulepreload" crossorigin href="/assets/VWindowItem-5fa7ada9.js">
  <link rel="modulepreload" crossorigin href="/assets/VSheet-d45e266d.js">
  <link rel="modulepreload" crossorigin href="/assets/VCombobox-5fe40c62.js">
  <link rel="modulepreload" crossorigin href="/assets/VDataTable-af51a4d8.js">
  <link rel="modulepreload" crossorigin href="/assets/VDataTableServer-dc2873ca.js">
  <link rel="modulepreload" crossorigin href="/assets/VRow-fff6a6ca.js">
  <link rel="modulepreload" crossorigin href="/assets/VSpacer-9f6608e6.js">
  <link rel="modulepreload" crossorigin href="/assets/VDatePicker-131f0dda.js">
  <link rel="modulepreload" crossorigin href="/assets/VForm-4c397f0c.js">
  <link rel="modulepreload" crossorigin href="/assets/VContainer-3dd7da73.js">
  <link rel="modulepreload" crossorigin href="/assets/VCol-477b15e6.js">
  <link rel="modulepreload" crossorigin href="/assets/VTimelineItem-e99af2ae.js">
  <link rel="modulepreload" crossorigin href="/assets/VRadioGroup-e8bc7407.js">
  <link rel="modulepreload" crossorigin href="/assets/VTabs-1a80a735.js">
  <link rel="modulepreload" crossorigin href="/assets/VSwitch-c23e96c3.js">
  <link rel="modulepreload" crossorigin href="/assets/VTextarea-33ee8c6c.js">
  <link rel="modulepreload" crossorigin href="/assets/index-92ab73cd.js">
  <link rel="modulepreload" crossorigin href="/assets/_commonjsHelpers-de833af9.js">
  <link rel="modulepreload" crossorigin href="/assets/index.esm-7cfa3638.js">
  <link rel="modulepreload" crossorigin href="/assets/vuetify-notifier-950bd8cf.js">
  <link rel="stylesheet" href="/assets/index-5d75c0b9.css">
  <link rel="stylesheet" href="/assets/pagination-c405b3f3.css">
  <link rel="stylesheet" href="/assets/VListItem-c15d55b0.css">
  <link rel="stylesheet" href="/assets/filter-98a73290.css">
  <link rel="stylesheet" href="/assets/VTooltip-cf3c1fdb.css">
  <link rel="stylesheet" href="/assets/app-7fea8d9d.css">
  <link rel="stylesheet" href="/assets/VAlert-a473ba34.css">
  <link rel="stylesheet" href="/assets/VAutocomplete-e06a67b2.css">
  <link rel="stylesheet" href="/assets/VWindowItem-72fb4d35.css">
  <link rel="stylesheet" href="/assets/VSheet-db7c2a52.css">
  <link rel="stylesheet" href="/assets/VCombobox-5dfa48f6.css">
  <link rel="stylesheet" href="/assets/VDataTable-0b7eb3bf.css">
  <link rel="stylesheet" href="/assets/VRow-58f30f37.css">
  <link rel="stylesheet" href="/assets/VDatePicker-cc0b3487.css">
  <link rel="stylesheet" href="/assets/VTimelineItem-d42bf9d7.css">
  <link rel="stylesheet" href="/assets/VRadioGroup-5887bb81.css">
  <link rel="stylesheet" href="/assets/VTabs-d2b8ec79.css">
  <link rel="stylesheet" href="/assets/VSwitch-df4eed3b.css">
  <link rel="stylesheet" href="/assets/VTextarea-1e58334b.css">
  <link rel="stylesheet" href="/assets/index-840e8538.css">
</head>

<body>
    <div id="app"></div>
    
</body>

</html>
