<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vuetify 3</title>
  <script type="module" crossorigin src="/assets/index-ea95f2fb.js"></script>
  <link rel="modulepreload" crossorigin href="/assets/index-4ee8ba7d.js">
  <link rel="modulepreload" crossorigin href="/assets/pagination-15cd6c0f.js">
  <link rel="modulepreload" crossorigin href="/assets/VListItem-151ffc55.js">
  <link rel="modulepreload" crossorigin href="/assets/filter-e22e1b19.js">
  <link rel="modulepreload" crossorigin href="/assets/VTooltip-e709db6c.js">
  <link rel="modulepreload" crossorigin href="/assets/VRow-c24944a3.js">
  <link rel="modulepreload" crossorigin href="/assets/user-4569635d.js">
  <link rel="modulepreload" crossorigin href="/assets/url-ae18edad.js">
  <link rel="modulepreload" crossorigin href="/assets/user-f374967a.js">
  <link rel="modulepreload" crossorigin href="/assets/use-swrv-aebfcdb5.js">
  <link rel="modulepreload" crossorigin href="/assets/app-38d80119.js">
  <link rel="modulepreload" crossorigin href="/assets/VAlert-8f4a03a8.js">
  <link rel="modulepreload" crossorigin href="/assets/VAutocomplete-634dd383.js">
  <link rel="modulepreload" crossorigin href="/assets/index-8ee7b073.js">
  <link rel="modulepreload" crossorigin href="/assets/VWindowItem-e8ab9463.js">
  <link rel="modulepreload" crossorigin href="/assets/VSheet-ec4cc132.js">
  <link rel="modulepreload" crossorigin href="/assets/VCombobox-bc3c3708.js">
  <link rel="modulepreload" crossorigin href="/assets/VDataTable-f485592d.js">
  <link rel="modulepreload" crossorigin href="/assets/VDataTableServer-e961f88c.js">
  <link rel="modulepreload" crossorigin href="/assets/VSpacer-a9ae227a.js">
  <link rel="modulepreload" crossorigin href="/assets/VDatePicker-61f87743.js">
  <link rel="modulepreload" crossorigin href="/assets/VTimelineItem-178aef7e.js">
  <link rel="modulepreload" crossorigin href="/assets/VForm-bbfe2a1c.js">
  <link rel="modulepreload" crossorigin href="/assets/VCol-c43cb2b9.js">
  <link rel="modulepreload" crossorigin href="/assets/VRadioGroup-fb3781e6.js">
  <link rel="modulepreload" crossorigin href="/assets/VTabs-01e3cdd0.js">
  <link rel="modulepreload" crossorigin href="/assets/VSwitch-19675469.js">
  <link rel="modulepreload" crossorigin href="/assets/VTextarea-b882c0c1.js">
  <link rel="modulepreload" crossorigin href="/assets/vuetify-notifier-277e6e21.js">
  <link rel="stylesheet" href="/assets/index-5d75c0b9.css">
  <link rel="stylesheet" href="/assets/pagination-c405b3f3.css">
  <link rel="stylesheet" href="/assets/VListItem-c15d55b0.css">
  <link rel="stylesheet" href="/assets/filter-98a73290.css">
  <link rel="stylesheet" href="/assets/VTooltip-b8b701d4.css">
  <link rel="stylesheet" href="/assets/VRow-58f30f37.css">
  <link rel="stylesheet" href="/assets/app-7fea8d9d.css">
  <link rel="stylesheet" href="/assets/VAlert-a473ba34.css">
  <link rel="stylesheet" href="/assets/VAutocomplete-e06a67b2.css">
  <link rel="stylesheet" href="/assets/index-ce8fc959.css">
  <link rel="stylesheet" href="/assets/VWindowItem-72fb4d35.css">
  <link rel="stylesheet" href="/assets/VSheet-db7c2a52.css">
  <link rel="stylesheet" href="/assets/VCombobox-5dfa48f6.css">
  <link rel="stylesheet" href="/assets/VDataTable-0b7eb3bf.css">
  <link rel="stylesheet" href="/assets/VDatePicker-cc0b3487.css">
  <link rel="stylesheet" href="/assets/VTimelineItem-189ba8dd.css">
  <link rel="stylesheet" href="/assets/VRadioGroup-5887bb81.css">
  <link rel="stylesheet" href="/assets/VTabs-d2b8ec79.css">
  <link rel="stylesheet" href="/assets/VSwitch-df4eed3b.css">
  <link rel="stylesheet" href="/assets/VTextarea-1e58334b.css">
  <link rel="stylesheet" href="/assets/index-78c7f317.css">
</head>

<body>
    <div id="app"></div>
    
</body>

</html>
