<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vuetify 3</title>
  <script type="module" crossorigin src="/assets/index-6406b45c.js"></script>
  <link rel="modulepreload" crossorigin href="/assets/index-62af106f.js">
  <link rel="modulepreload" crossorigin href="/assets/pagination-baba5858.js">
  <link rel="modulepreload" crossorigin href="/assets/VListItem-e294ce21.js">
  <link rel="modulepreload" crossorigin href="/assets/VMenu-e4644e68.js">
  <link rel="modulepreload" crossorigin href="/assets/VDialog-907971e6.js">
  <link rel="modulepreload" crossorigin href="/assets/VAlert-200cd602.js">
  <link rel="modulepreload" crossorigin href="/assets/VTextField-670a60c3.js">
  <link rel="modulepreload" crossorigin href="/assets/filter-f8eb62c5.js">
  <link rel="modulepreload" crossorigin href="/assets/VAutocomplete-d951ee15.js">
  <link rel="modulepreload" crossorigin href="/assets/VBottomSheet-b25fad91.js">
  <link rel="modulepreload" crossorigin href="/assets/VTooltip-02277f40.js">
  <link rel="modulepreload" crossorigin href="/assets/VSheet-4e72c930.js">
  <link rel="modulepreload" crossorigin href="/assets/VCombobox-500504f4.js">
  <link rel="modulepreload" crossorigin href="/assets/VDataTable-2b05b2e5.js">
  <link rel="modulepreload" crossorigin href="/assets/VDataTableServer-70038944.js">
  <link rel="modulepreload" crossorigin href="/assets/VSpacer-7083060a.js">
  <link rel="modulepreload" crossorigin href="/assets/VDatePicker-d1641b5d.js">
  <link rel="modulepreload" crossorigin href="/assets/VForm-b162a13c.js">
  <link rel="modulepreload" crossorigin href="/assets/user-4569635d.js">
  <link rel="modulepreload" crossorigin href="/assets/url-ae18edad.js">
  <link rel="modulepreload" crossorigin href="/assets/user-f1b3cb73.js">
  <link rel="modulepreload" crossorigin href="/assets/use-swrv-54d5ed5b.js">
  <link rel="modulepreload" crossorigin href="/assets/app-3733bcc2.js">
  <link rel="modulepreload" crossorigin href="/assets/VCol-df4f4b23.js">
  <link rel="modulepreload" crossorigin href="/assets/VRow-696cb7b4.js">
  <link rel="modulepreload" crossorigin href="/assets/VNavigationDrawer-0f07954c.js">
  <link rel="modulepreload" crossorigin href="/assets/VTimelineItem-81603ee4.js">
  <link rel="modulepreload" crossorigin href="/assets/index-9f33e701.js">
  <link rel="modulepreload" crossorigin href="/assets/VSwitch-e990cf92.js">
  <link rel="modulepreload" crossorigin href="/assets/VTextarea-83d04846.js">
  <link rel="modulepreload" crossorigin href="/assets/vuetify-notifier-495c4348.js">
  <link rel="stylesheet" href="/assets/index-5d75c0b9.css">
  <link rel="stylesheet" href="/assets/pagination-994cc486.css">
  <link rel="stylesheet" href="/assets/VListItem-c15d55b0.css">
  <link rel="stylesheet" href="/assets/VMenu-700de36b.css">
  <link rel="stylesheet" href="/assets/VDialog-3a255f4c.css">
  <link rel="stylesheet" href="/assets/VAlert-a473ba34.css">
  <link rel="stylesheet" href="/assets/VTextField-4f89b3cb.css">
  <link rel="stylesheet" href="/assets/filter-be42de44.css">
  <link rel="stylesheet" href="/assets/VAutocomplete-e06a67b2.css">
  <link rel="stylesheet" href="/assets/VBottomSheet-ce8fc959.css">
  <link rel="stylesheet" href="/assets/VTooltip-dfac161d.css">
  <link rel="stylesheet" href="/assets/VSheet-db7c2a52.css">
  <link rel="stylesheet" href="/assets/VCombobox-5dfa48f6.css">
  <link rel="stylesheet" href="/assets/VDataTable-0b7eb3bf.css">
  <link rel="stylesheet" href="/assets/VGrid-58f30f37.css">
  <link rel="stylesheet" href="/assets/VDatePicker-cc0b3487.css">
  <link rel="stylesheet" href="/assets/app-d6216866.css">
  <link rel="stylesheet" href="/assets/VNavigationDrawer-fa5e3ac6.css">
  <link rel="stylesheet" href="/assets/VTimelineItem-449d67b4.css">
  <link rel="stylesheet" href="/assets/index-d2b8ec79.css">
  <link rel="stylesheet" href="/assets/VSwitch-df4eed3b.css">
  <link rel="stylesheet" href="/assets/VTextarea-1e58334b.css">
  <link rel="stylesheet" href="/assets/index-abe6a8f6.css">
</head>

<body>
    <div id="app"></div>
    
</body>

</html>
