<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vuetify 3</title>
  <script type="module" crossorigin src="/assets/index-6aa52203.js"></script>
  <link rel="modulepreload" crossorigin href="/assets/index-392f361b.js">
  <link rel="modulepreload" crossorigin href="/assets/pagination-ffe63b15.js">
  <link rel="modulepreload" crossorigin href="/assets/VListItem-eb9782fb.js">
  <link rel="modulepreload" crossorigin href="/assets/VMenu-319a5c7e.js">
  <link rel="modulepreload" crossorigin href="/assets/VDialog-67d79f0f.js">
  <link rel="modulepreload" crossorigin href="/assets/VAlert-82319f75.js">
  <link rel="modulepreload" crossorigin href="/assets/VTextField-c5410c6c.js">
  <link rel="modulepreload" crossorigin href="/assets/filter-c602a23b.js">
  <link rel="modulepreload" crossorigin href="/assets/VAutocomplete-81ab3425.js">
  <link rel="modulepreload" crossorigin href="/assets/VBottomSheet-25a7776d.js">
  <link rel="modulepreload" crossorigin href="/assets/VTooltip-88e7906c.js">
  <link rel="modulepreload" crossorigin href="/assets/VSheet-d6ffaf2a.js">
  <link rel="modulepreload" crossorigin href="/assets/VCombobox-59fa39fa.js">
  <link rel="modulepreload" crossorigin href="/assets/VDataTable-8c31421e.js">
  <link rel="modulepreload" crossorigin href="/assets/VDataTableServer-3ae3a02e.js">
  <link rel="modulepreload" crossorigin href="/assets/VSpacer-0065f5b4.js">
  <link rel="modulepreload" crossorigin href="/assets/VDatePicker-393038b8.js">
  <link rel="modulepreload" crossorigin href="/assets/VForm-1d751c11.js">
  <link rel="modulepreload" crossorigin href="/assets/user-4569635d.js">
  <link rel="modulepreload" crossorigin href="/assets/url-ae18edad.js">
  <link rel="modulepreload" crossorigin href="/assets/user-07b5ae53.js">
  <link rel="modulepreload" crossorigin href="/assets/use-swrv-e5a912a5.js">
  <link rel="modulepreload" crossorigin href="/assets/app-8a2afbee.js">
  <link rel="modulepreload" crossorigin href="/assets/VCol-491c6dd9.js">
  <link rel="modulepreload" crossorigin href="/assets/VRow-d31093e7.js">
  <link rel="modulepreload" crossorigin href="/assets/VNavigationDrawer-06c59739.js">
  <link rel="modulepreload" crossorigin href="/assets/VTimelineItem-a89ee159.js">
  <link rel="modulepreload" crossorigin href="/assets/index-f64272e0.js">
  <link rel="modulepreload" crossorigin href="/assets/VSwitch-e33891e8.js">
  <link rel="modulepreload" crossorigin href="/assets/VTextarea-475ed2f8.js">
  <link rel="modulepreload" crossorigin href="/assets/vuetify-notifier-0c538432.js">
  <link rel="stylesheet" href="/assets/index-5d75c0b9.css">
  <link rel="stylesheet" href="/assets/pagination-994cc486.css">
  <link rel="stylesheet" href="/assets/VListItem-c15d55b0.css">
  <link rel="stylesheet" href="/assets/VMenu-700de36b.css">
  <link rel="stylesheet" href="/assets/VDialog-3a255f4c.css">
  <link rel="stylesheet" href="/assets/VAlert-a473ba34.css">
  <link rel="stylesheet" href="/assets/VTextField-4f89b3cb.css">
  <link rel="stylesheet" href="/assets/filter-be42de44.css">
  <link rel="stylesheet" href="/assets/VAutocomplete-e06a67b2.css">
  <link rel="stylesheet" href="/assets/VBottomSheet-ce8fc959.css">
  <link rel="stylesheet" href="/assets/VTooltip-dfac161d.css">
  <link rel="stylesheet" href="/assets/VSheet-db7c2a52.css">
  <link rel="stylesheet" href="/assets/VCombobox-5dfa48f6.css">
  <link rel="stylesheet" href="/assets/VDataTable-0b7eb3bf.css">
  <link rel="stylesheet" href="/assets/VGrid-58f30f37.css">
  <link rel="stylesheet" href="/assets/VDatePicker-cc0b3487.css">
  <link rel="stylesheet" href="/assets/app-d6216866.css">
  <link rel="stylesheet" href="/assets/VNavigationDrawer-fa5e3ac6.css">
  <link rel="stylesheet" href="/assets/VTimelineItem-449d67b4.css">
  <link rel="stylesheet" href="/assets/index-d2b8ec79.css">
  <link rel="stylesheet" href="/assets/VSwitch-df4eed3b.css">
  <link rel="stylesheet" href="/assets/VTextarea-1e58334b.css">
  <link rel="stylesheet" href="/assets/index-abe6a8f6.css">
</head>

<body>
    <div id="app"></div>
    
</body>

</html>
