<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vuetify 3</title>
  <script type="module" crossorigin src="/assets/index-a5f2c29d.js"></script>
  <link rel="modulepreload" crossorigin href="/assets/index-07d98733.js">
  <link rel="modulepreload" crossorigin href="/assets/pagination-8cdfa955.js">
  <link rel="modulepreload" crossorigin href="/assets/VListItem-ee82587a.js">
  <link rel="modulepreload" crossorigin href="/assets/VMenu-3ac29e13.js">
  <link rel="modulepreload" crossorigin href="/assets/VDialog-f6349e57.js">
  <link rel="modulepreload" crossorigin href="/assets/VAlert-8aa74c40.js">
  <link rel="modulepreload" crossorigin href="/assets/VTextField-c1df5e98.js">
  <link rel="modulepreload" crossorigin href="/assets/filter-eab38ffb.js">
  <link rel="modulepreload" crossorigin href="/assets/VAutocomplete-9dd376ce.js">
  <link rel="modulepreload" crossorigin href="/assets/VBottomSheet-bc4e4f8e.js">
  <link rel="modulepreload" crossorigin href="/assets/VTooltip-dcd166ce.js">
  <link rel="modulepreload" crossorigin href="/assets/VSheet-9a8a2efd.js">
  <link rel="modulepreload" crossorigin href="/assets/VCombobox-495d55f4.js">
  <link rel="modulepreload" crossorigin href="/assets/VDataTable-b8979b5a.js">
  <link rel="modulepreload" crossorigin href="/assets/VDataTableServer-c33b5d57.js">
  <link rel="modulepreload" crossorigin href="/assets/VSpacer-7309467e.js">
  <link rel="modulepreload" crossorigin href="/assets/VDatePicker-7da339bb.js">
  <link rel="modulepreload" crossorigin href="/assets/VTimelineItem-9a2a6f76.js">
  <link rel="modulepreload" crossorigin href="/assets/VForm-d187b18c.js">
  <link rel="modulepreload" crossorigin href="/assets/user-4569635d.js">
  <link rel="modulepreload" crossorigin href="/assets/url-ae18edad.js">
  <link rel="modulepreload" crossorigin href="/assets/user-4e988a40.js">
  <link rel="modulepreload" crossorigin href="/assets/use-swrv-5dffaaaa.js">
  <link rel="modulepreload" crossorigin href="/assets/app-87720d34.js">
  <link rel="modulepreload" crossorigin href="/assets/VCol-b85d73bc.js">
  <link rel="modulepreload" crossorigin href="/assets/VRow-a7e101e9.js">
  <link rel="modulepreload" crossorigin href="/assets/VNavigationDrawer-8e7e1527.js">
  <link rel="modulepreload" crossorigin href="/assets/index-081dd5d2.js">
  <link rel="modulepreload" crossorigin href="/assets/VSwitch-9fa90c66.js">
  <link rel="modulepreload" crossorigin href="/assets/VTextarea-3a85ddf8.js">
  <link rel="modulepreload" crossorigin href="/assets/vuetify-notifier-8755eddd.js">
  <link rel="stylesheet" href="/assets/index-5d75c0b9.css">
  <link rel="stylesheet" href="/assets/pagination-994cc486.css">
  <link rel="stylesheet" href="/assets/VListItem-c15d55b0.css">
  <link rel="stylesheet" href="/assets/VMenu-700de36b.css">
  <link rel="stylesheet" href="/assets/VDialog-3a255f4c.css">
  <link rel="stylesheet" href="/assets/VAlert-a473ba34.css">
  <link rel="stylesheet" href="/assets/VTextField-4f89b3cb.css">
  <link rel="stylesheet" href="/assets/filter-be42de44.css">
  <link rel="stylesheet" href="/assets/VAutocomplete-e06a67b2.css">
  <link rel="stylesheet" href="/assets/VBottomSheet-ce8fc959.css">
  <link rel="stylesheet" href="/assets/VTooltip-dfac161d.css">
  <link rel="stylesheet" href="/assets/VSheet-db7c2a52.css">
  <link rel="stylesheet" href="/assets/VCombobox-5dfa48f6.css">
  <link rel="stylesheet" href="/assets/VDataTable-0b7eb3bf.css">
  <link rel="stylesheet" href="/assets/VGrid-58f30f37.css">
  <link rel="stylesheet" href="/assets/VDatePicker-cc0b3487.css">
  <link rel="stylesheet" href="/assets/VTimelineItem-393bcdab.css">
  <link rel="stylesheet" href="/assets/app-d6216866.css">
  <link rel="stylesheet" href="/assets/VNavigationDrawer-fa5e3ac6.css">
  <link rel="stylesheet" href="/assets/index-d2b8ec79.css">
  <link rel="stylesheet" href="/assets/VSwitch-df4eed3b.css">
  <link rel="stylesheet" href="/assets/VTextarea-1e58334b.css">
  <link rel="stylesheet" href="/assets/index-4823e47c.css">
</head>

<body>
    <div id="app"></div>
    
</body>

</html>
