<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vuetify 3</title>
  <script type="module" crossorigin src="/assets/index-48bd555d.js"></script>
  <link rel="modulepreload" crossorigin href="/assets/index-85b13140.js">
  <link rel="modulepreload" crossorigin href="/assets/pagination-18d702c1.js">
  <link rel="modulepreload" crossorigin href="/assets/VListItem-430525f3.js">
  <link rel="modulepreload" crossorigin href="/assets/filter-131b8dab.js">
  <link rel="modulepreload" crossorigin href="/assets/VTooltip-869ca6e6.js">
  <link rel="modulepreload" crossorigin href="/assets/user-4569635d.js">
  <link rel="modulepreload" crossorigin href="/assets/url-ae18edad.js">
  <link rel="modulepreload" crossorigin href="/assets/user-ebd9055a.js">
  <link rel="modulepreload" crossorigin href="/assets/use-swrv-71fb98d6.js">
  <link rel="modulepreload" crossorigin href="/assets/app-7ad96a08.js">
  <link rel="modulepreload" crossorigin href="/assets/VAlert-31a3176b.js">
  <link rel="modulepreload" crossorigin href="/assets/VAutocomplete-58837646.js">
  <link rel="modulepreload" crossorigin href="/assets/VSlideGroup-5502f64f.js">
  <link rel="modulepreload" crossorigin href="/assets/VSlideGroupItem-002e764c.js">
  <link rel="modulepreload" crossorigin href="/assets/VWindowItem-b33dbb04.js">
  <link rel="modulepreload" crossorigin href="/assets/VSheet-1a4ae457.js">
  <link rel="modulepreload" crossorigin href="/assets/VCombobox-208f8e9f.js">
  <link rel="modulepreload" crossorigin href="/assets/VDataTable-366e53f6.js">
  <link rel="modulepreload" crossorigin href="/assets/VDataTableServer-bd5f1bca.js">
  <link rel="modulepreload" crossorigin href="/assets/VRow-890e06d0.js">
  <link rel="modulepreload" crossorigin href="/assets/VSpacer-b0721f20.js">
  <link rel="modulepreload" crossorigin href="/assets/VDatePicker-215e6557.js">
  <link rel="modulepreload" crossorigin href="/assets/VTimelineItem-4304ea42.js">
  <link rel="modulepreload" crossorigin href="/assets/VForm-1000754b.js">
  <link rel="modulepreload" crossorigin href="/assets/VContainer-7eae8471.js">
  <link rel="modulepreload" crossorigin href="/assets/VCol-3c2fbf52.js">
  <link rel="modulepreload" crossorigin href="/assets/VRadioGroup-3ed82f05.js">
  <link rel="modulepreload" crossorigin href="/assets/VSwitch-9d5ef1e6.js">
  <link rel="modulepreload" crossorigin href="/assets/VTabs-29188682.js">
  <link rel="modulepreload" crossorigin href="/assets/VTextarea-7e0579cd.js">
  <link rel="modulepreload" crossorigin href="/assets/index-92ab73cd.js">
  <link rel="modulepreload" crossorigin href="/assets/_commonjsHelpers-de833af9.js">
  <link rel="modulepreload" crossorigin href="/assets/vuetify-notifier-33f81107.js">
  <link rel="stylesheet" href="/assets/index-5d75c0b9.css">
  <link rel="stylesheet" href="/assets/pagination-c405b3f3.css">
  <link rel="stylesheet" href="/assets/VListItem-c15d55b0.css">
  <link rel="stylesheet" href="/assets/filter-98a73290.css">
  <link rel="stylesheet" href="/assets/VTooltip-cf3c1fdb.css">
  <link rel="stylesheet" href="/assets/app-7fea8d9d.css">
  <link rel="stylesheet" href="/assets/VAlert-a473ba34.css">
  <link rel="stylesheet" href="/assets/VAutocomplete-e06a67b2.css">
  <link rel="stylesheet" href="/assets/VSlideGroup-80d5799a.css">
  <link rel="stylesheet" href="/assets/VSlideGroupItem-5314d701.css">
  <link rel="stylesheet" href="/assets/VWindowItem-72fb4d35.css">
  <link rel="stylesheet" href="/assets/VSheet-db7c2a52.css">
  <link rel="stylesheet" href="/assets/VCombobox-5dfa48f6.css">
  <link rel="stylesheet" href="/assets/VDataTable-0b7eb3bf.css">
  <link rel="stylesheet" href="/assets/VRow-58f30f37.css">
  <link rel="stylesheet" href="/assets/VDatePicker-cc0b3487.css">
  <link rel="stylesheet" href="/assets/VTimelineItem-b81b5169.css">
  <link rel="stylesheet" href="/assets/VRadioGroup-5887bb81.css">
  <link rel="stylesheet" href="/assets/VSwitch-df4eed3b.css">
  <link rel="stylesheet" href="/assets/VTabs-7361ed90.css">
  <link rel="stylesheet" href="/assets/VTextarea-1e58334b.css">
  <link rel="stylesheet" href="/assets/index-9d7f5f5f.css">
</head>

<body>
    <div id="app"></div>
    
</body>

</html>
