<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vuetify 3</title>
  <script type="module" crossorigin src="/assets/index-edbb4e1e.js"></script>
  <link rel="modulepreload" crossorigin href="/assets/index-a519fe1f.js">
  <link rel="modulepreload" crossorigin href="/assets/pagination-34fdf95e.js">
  <link rel="modulepreload" crossorigin href="/assets/VListItem-75997588.js">
  <link rel="modulepreload" crossorigin href="/assets/VMenu-4af2299e.js">
  <link rel="modulepreload" crossorigin href="/assets/VDialog-6f59e4d5.js">
  <link rel="modulepreload" crossorigin href="/assets/VAlert-930a9780.js">
  <link rel="modulepreload" crossorigin href="/assets/VTextField-357d199b.js">
  <link rel="modulepreload" crossorigin href="/assets/filter-db5f8bf1.js">
  <link rel="modulepreload" crossorigin href="/assets/VAutocomplete-e1b268cf.js">
  <link rel="modulepreload" crossorigin href="/assets/VBottomSheet-b5e6ad06.js">
  <link rel="modulepreload" crossorigin href="/assets/VTooltip-65afd2ad.js">
  <link rel="modulepreload" crossorigin href="/assets/VSheet-f1195b2c.js">
  <link rel="modulepreload" crossorigin href="/assets/VCombobox-26272e88.js">
  <link rel="modulepreload" crossorigin href="/assets/VDataTable-4fd23a6c.js">
  <link rel="modulepreload" crossorigin href="/assets/VDataTableServer-604b0f7d.js">
  <link rel="modulepreload" crossorigin href="/assets/VSpacer-0e92e518.js">
  <link rel="modulepreload" crossorigin href="/assets/VDatePicker-a9260978.js">
  <link rel="modulepreload" crossorigin href="/assets/VForm-711fc811.js">
  <link rel="modulepreload" crossorigin href="/assets/user-4569635d.js">
  <link rel="modulepreload" crossorigin href="/assets/url-ae18edad.js">
  <link rel="modulepreload" crossorigin href="/assets/user-7b39511a.js">
  <link rel="modulepreload" crossorigin href="/assets/use-swrv-ffdbebc8.js">
  <link rel="modulepreload" crossorigin href="/assets/app-0a688b64.js">
  <link rel="modulepreload" crossorigin href="/assets/VCol-24e61097.js">
  <link rel="modulepreload" crossorigin href="/assets/VRow-226fda85.js">
  <link rel="modulepreload" crossorigin href="/assets/VNavigationDrawer-606bcac5.js">
  <link rel="modulepreload" crossorigin href="/assets/VTimelineItem-40163bb9.js">
  <link rel="modulepreload" crossorigin href="/assets/index-02ab5502.js">
  <link rel="modulepreload" crossorigin href="/assets/VSwitch-cc27bf3c.js">
  <link rel="modulepreload" crossorigin href="/assets/VTextarea-1b8896c9.js">
  <link rel="modulepreload" crossorigin href="/assets/vuetify-notifier-5e5ebf07.js">
  <link rel="stylesheet" href="/assets/index-5d75c0b9.css">
  <link rel="stylesheet" href="/assets/pagination-994cc486.css">
  <link rel="stylesheet" href="/assets/VListItem-c15d55b0.css">
  <link rel="stylesheet" href="/assets/VMenu-700de36b.css">
  <link rel="stylesheet" href="/assets/VDialog-3a255f4c.css">
  <link rel="stylesheet" href="/assets/VAlert-a473ba34.css">
  <link rel="stylesheet" href="/assets/VTextField-4f89b3cb.css">
  <link rel="stylesheet" href="/assets/filter-be42de44.css">
  <link rel="stylesheet" href="/assets/VAutocomplete-e06a67b2.css">
  <link rel="stylesheet" href="/assets/VBottomSheet-ce8fc959.css">
  <link rel="stylesheet" href="/assets/VTooltip-dfac161d.css">
  <link rel="stylesheet" href="/assets/VSheet-db7c2a52.css">
  <link rel="stylesheet" href="/assets/VCombobox-5dfa48f6.css">
  <link rel="stylesheet" href="/assets/VDataTable-0b7eb3bf.css">
  <link rel="stylesheet" href="/assets/VGrid-58f30f37.css">
  <link rel="stylesheet" href="/assets/VDatePicker-cc0b3487.css">
  <link rel="stylesheet" href="/assets/app-d6216866.css">
  <link rel="stylesheet" href="/assets/VNavigationDrawer-fa5e3ac6.css">
  <link rel="stylesheet" href="/assets/VTimelineItem-449d67b4.css">
  <link rel="stylesheet" href="/assets/index-d2b8ec79.css">
  <link rel="stylesheet" href="/assets/VSwitch-df4eed3b.css">
  <link rel="stylesheet" href="/assets/VTextarea-1e58334b.css">
  <link rel="stylesheet" href="/assets/index-abe6a8f6.css">
</head>

<body>
    <div id="app"></div>
    
</body>

</html>
