<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vuetify 3</title>
  <script type="module" crossorigin src="/assets/index-0119146f.js"></script>
  <link rel="modulepreload" crossorigin href="/assets/index-9ae4ccec.js">
  <link rel="modulepreload" crossorigin href="/assets/pagination-e229f3e9.js">
  <link rel="modulepreload" crossorigin href="/assets/VToolbar-90f50717.js">
  <link rel="modulepreload" crossorigin href="/assets/VListItem-857d7554.js">
  <link rel="modulepreload" crossorigin href="/assets/VMenu-bb5732af.js">
  <link rel="modulepreload" crossorigin href="/assets/VAlert-a8137409.js">
  <link rel="modulepreload" crossorigin href="/assets/VTextField-505fdc76.js">
  <link rel="modulepreload" crossorigin href="/assets/filter-8e928608.js">
  <link rel="modulepreload" crossorigin href="/assets/VAutocomplete-e54213da.js">
  <link rel="modulepreload" crossorigin href="/assets/index-632bd231.js">
  <link rel="modulepreload" crossorigin href="/assets/VWindowItem-fbeb7df2.js">
  <link rel="modulepreload" crossorigin href="/assets/VSheet-7ba14c4d.js">
  <link rel="modulepreload" crossorigin href="/assets/VCombobox-31eaf151.js">
  <link rel="modulepreload" crossorigin href="/assets/VDataTable-976fe842.js">
  <link rel="modulepreload" crossorigin href="/assets/VDataTableServer-a88cc7e7.js">
  <link rel="modulepreload" crossorigin href="/assets/VSpacer-c97d528c.js">
  <link rel="modulepreload" crossorigin href="/assets/VDatePicker-da15781d.js">
  <link rel="modulepreload" crossorigin href="/assets/VForm-3a893e98.js">
  <link rel="modulepreload" crossorigin href="/assets/user-4569635d.js">
  <link rel="modulepreload" crossorigin href="/assets/url-ae18edad.js">
  <link rel="modulepreload" crossorigin href="/assets/user-473d4373.js">
  <link rel="modulepreload" crossorigin href="/assets/use-swrv-105dd618.js">
  <link rel="modulepreload" crossorigin href="/assets/app-1d0a0dbd.js">
  <link rel="modulepreload" crossorigin href="/assets/VCol-39da6561.js">
  <link rel="modulepreload" crossorigin href="/assets/VRow-2bd97211.js">
  <link rel="modulepreload" crossorigin href="/assets/VNavigationDrawer-5ec6039a.js">
  <link rel="modulepreload" crossorigin href="/assets/VTooltip-177c0b25.js">
  <link rel="modulepreload" crossorigin href="/assets/VSwitch-9ed66320.js">
  <link rel="modulepreload" crossorigin href="/assets/VTextarea-528f85fd.js">
  <link rel="modulepreload" crossorigin href="/assets/vuetify-notifier-8daf768b.js">
  <link rel="stylesheet" href="/assets/index-5d75c0b9.css">
  <link rel="stylesheet" href="/assets/pagination-994cc486.css">
  <link rel="stylesheet" href="/assets/VToolbar-2f153f94.css">
  <link rel="stylesheet" href="/assets/VListItem-c15d55b0.css">
  <link rel="stylesheet" href="/assets/VMenu-700de36b.css">
  <link rel="stylesheet" href="/assets/VAlert-a473ba34.css">
  <link rel="stylesheet" href="/assets/VTextField-4f89b3cb.css">
  <link rel="stylesheet" href="/assets/filter-be42de44.css">
  <link rel="stylesheet" href="/assets/VAutocomplete-e06a67b2.css">
  <link rel="stylesheet" href="/assets/index-2fac4a1e.css">
  <link rel="stylesheet" href="/assets/VWindowItem-72fb4d35.css">
  <link rel="stylesheet" href="/assets/VSheet-db7c2a52.css">
  <link rel="stylesheet" href="/assets/VCombobox-5dfa48f6.css">
  <link rel="stylesheet" href="/assets/VDataTable-0b7eb3bf.css">
  <link rel="stylesheet" href="/assets/VGrid-58f30f37.css">
  <link rel="stylesheet" href="/assets/VDatePicker-cc0b3487.css">
  <link rel="stylesheet" href="/assets/app-d6216866.css">
  <link rel="stylesheet" href="/assets/VNavigationDrawer-fa5e3ac6.css">
  <link rel="stylesheet" href="/assets/VTooltip-eb5e1f69.css">
  <link rel="stylesheet" href="/assets/VSwitch-df4eed3b.css">
  <link rel="stylesheet" href="/assets/VTextarea-1e58334b.css">
  <link rel="stylesheet" href="/assets/index-abe6a8f6.css">
</head>

<body>
    <div id="app"></div>
    
</body>

</html>
