<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vuetify 3</title>
  <script type="module" crossorigin src="/assets/index-cd2453ad.js"></script>
  <link rel="modulepreload" crossorigin href="/assets/index-c8092294.js">
  <link rel="modulepreload" crossorigin href="/assets/pagination-3b877491.js">
  <link rel="modulepreload" crossorigin href="/assets/VListItem-52f32455.js">
  <link rel="modulepreload" crossorigin href="/assets/VMenu-d22c29f1.js">
  <link rel="modulepreload" crossorigin href="/assets/VDialog-6cb3baef.js">
  <link rel="modulepreload" crossorigin href="/assets/VAlert-1bab397c.js">
  <link rel="modulepreload" crossorigin href="/assets/VTextField-1de6a9da.js">
  <link rel="modulepreload" crossorigin href="/assets/filter-a9e2f606.js">
  <link rel="modulepreload" crossorigin href="/assets/VAutocomplete-4565a7cd.js">
  <link rel="modulepreload" crossorigin href="/assets/VBottomSheet-b24b731e.js">
  <link rel="modulepreload" crossorigin href="/assets/VTooltip-dc387679.js">
  <link rel="modulepreload" crossorigin href="/assets/VSheet-805140b2.js">
  <link rel="modulepreload" crossorigin href="/assets/VCombobox-485c784a.js">
  <link rel="modulepreload" crossorigin href="/assets/VDataTable-3a8f36f6.js">
  <link rel="modulepreload" crossorigin href="/assets/VDataTableServer-d73a8f77.js">
  <link rel="modulepreload" crossorigin href="/assets/VSpacer-e86adbde.js">
  <link rel="modulepreload" crossorigin href="/assets/VDatePicker-fecd92ab.js">
  <link rel="modulepreload" crossorigin href="/assets/VForm-ac2bb8fd.js">
  <link rel="modulepreload" crossorigin href="/assets/user-4569635d.js">
  <link rel="modulepreload" crossorigin href="/assets/url-ae18edad.js">
  <link rel="modulepreload" crossorigin href="/assets/user-f53b7abd.js">
  <link rel="modulepreload" crossorigin href="/assets/use-swrv-a1dc6877.js">
  <link rel="modulepreload" crossorigin href="/assets/app-2db4327b.js">
  <link rel="modulepreload" crossorigin href="/assets/VCol-c56270c3.js">
  <link rel="modulepreload" crossorigin href="/assets/VRow-e1f774fc.js">
  <link rel="modulepreload" crossorigin href="/assets/VNavigationDrawer-bda0ae82.js">
  <link rel="modulepreload" crossorigin href="/assets/VTimelineItem-e01338e5.js">
  <link rel="modulepreload" crossorigin href="/assets/index-51f7cff1.js">
  <link rel="modulepreload" crossorigin href="/assets/VSwitch-9a42d929.js">
  <link rel="modulepreload" crossorigin href="/assets/VTextarea-1f50ebb2.js">
  <link rel="modulepreload" crossorigin href="/assets/vuetify-notifier-6f6dad48.js">
  <link rel="stylesheet" href="/assets/index-5d75c0b9.css">
  <link rel="stylesheet" href="/assets/pagination-994cc486.css">
  <link rel="stylesheet" href="/assets/VListItem-c15d55b0.css">
  <link rel="stylesheet" href="/assets/VMenu-700de36b.css">
  <link rel="stylesheet" href="/assets/VDialog-3a255f4c.css">
  <link rel="stylesheet" href="/assets/VAlert-a473ba34.css">
  <link rel="stylesheet" href="/assets/VTextField-4f89b3cb.css">
  <link rel="stylesheet" href="/assets/filter-be42de44.css">
  <link rel="stylesheet" href="/assets/VAutocomplete-e06a67b2.css">
  <link rel="stylesheet" href="/assets/VBottomSheet-ce8fc959.css">
  <link rel="stylesheet" href="/assets/VTooltip-dfac161d.css">
  <link rel="stylesheet" href="/assets/VSheet-db7c2a52.css">
  <link rel="stylesheet" href="/assets/VCombobox-5dfa48f6.css">
  <link rel="stylesheet" href="/assets/VDataTable-0b7eb3bf.css">
  <link rel="stylesheet" href="/assets/VGrid-58f30f37.css">
  <link rel="stylesheet" href="/assets/VDatePicker-cc0b3487.css">
  <link rel="stylesheet" href="/assets/app-d6216866.css">
  <link rel="stylesheet" href="/assets/VNavigationDrawer-fa5e3ac6.css">
  <link rel="stylesheet" href="/assets/VTimelineItem-449d67b4.css">
  <link rel="stylesheet" href="/assets/index-d2b8ec79.css">
  <link rel="stylesheet" href="/assets/VSwitch-df4eed3b.css">
  <link rel="stylesheet" href="/assets/VTextarea-1e58334b.css">
  <link rel="stylesheet" href="/assets/index-abe6a8f6.css">
</head>

<body>
    <div id="app"></div>
    
</body>

</html>
