<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vuetify 3</title>
  <script type="module" crossorigin src="/assets/index-ffd51323.js"></script>
  <link rel="modulepreload" crossorigin href="/assets/index-1362c976.js">
  <link rel="modulepreload" crossorigin href="/assets/pagination-e4fa4dfb.js">
  <link rel="modulepreload" crossorigin href="/assets/VListItem-86246581.js">
  <link rel="modulepreload" crossorigin href="/assets/VMenu-5b3d52bb.js">
  <link rel="modulepreload" crossorigin href="/assets/VDialog-c93a0193.js">
  <link rel="modulepreload" crossorigin href="/assets/VAlert-ae2a9640.js">
  <link rel="modulepreload" crossorigin href="/assets/VTextField-567474ed.js">
  <link rel="modulepreload" crossorigin href="/assets/filter-f6ae8d2c.js">
  <link rel="modulepreload" crossorigin href="/assets/VAutocomplete-19560480.js">
  <link rel="modulepreload" crossorigin href="/assets/VBottomSheet-a5cd83bc.js">
  <link rel="modulepreload" crossorigin href="/assets/VTooltip-3535f77a.js">
  <link rel="modulepreload" crossorigin href="/assets/VSheet-304383a9.js">
  <link rel="modulepreload" crossorigin href="/assets/VCombobox-46cb8fa0.js">
  <link rel="modulepreload" crossorigin href="/assets/VDataTable-459c84ff.js">
  <link rel="modulepreload" crossorigin href="/assets/VDataTableServer-5560d2e2.js">
  <link rel="modulepreload" crossorigin href="/assets/VSpacer-02a4ddd1.js">
  <link rel="modulepreload" crossorigin href="/assets/VDatePicker-b3dcf6f6.js">
  <link rel="modulepreload" crossorigin href="/assets/VForm-7f179846.js">
  <link rel="modulepreload" crossorigin href="/assets/user-4569635d.js">
  <link rel="modulepreload" crossorigin href="/assets/url-ae18edad.js">
  <link rel="modulepreload" crossorigin href="/assets/user-88dc0210.js">
  <link rel="modulepreload" crossorigin href="/assets/use-swrv-81398d01.js">
  <link rel="modulepreload" crossorigin href="/assets/app-e6d20842.js">
  <link rel="modulepreload" crossorigin href="/assets/VCol-598de403.js">
  <link rel="modulepreload" crossorigin href="/assets/VRow-6cd83b5b.js">
  <link rel="modulepreload" crossorigin href="/assets/VNavigationDrawer-609fce8f.js">
  <link rel="modulepreload" crossorigin href="/assets/VTimelineItem-6f82e31e.js">
  <link rel="modulepreload" crossorigin href="/assets/index-de4d7147.js">
  <link rel="modulepreload" crossorigin href="/assets/VSwitch-7569c596.js">
  <link rel="modulepreload" crossorigin href="/assets/VTextarea-619c2b2f.js">
  <link rel="modulepreload" crossorigin href="/assets/vuetify-notifier-148ac083.js">
  <link rel="stylesheet" href="/assets/index-5d75c0b9.css">
  <link rel="stylesheet" href="/assets/pagination-994cc486.css">
  <link rel="stylesheet" href="/assets/VListItem-c15d55b0.css">
  <link rel="stylesheet" href="/assets/VMenu-700de36b.css">
  <link rel="stylesheet" href="/assets/VDialog-3a255f4c.css">
  <link rel="stylesheet" href="/assets/VAlert-a473ba34.css">
  <link rel="stylesheet" href="/assets/VTextField-4f89b3cb.css">
  <link rel="stylesheet" href="/assets/filter-be42de44.css">
  <link rel="stylesheet" href="/assets/VAutocomplete-e06a67b2.css">
  <link rel="stylesheet" href="/assets/VBottomSheet-ce8fc959.css">
  <link rel="stylesheet" href="/assets/VTooltip-dfac161d.css">
  <link rel="stylesheet" href="/assets/VSheet-db7c2a52.css">
  <link rel="stylesheet" href="/assets/VCombobox-5dfa48f6.css">
  <link rel="stylesheet" href="/assets/VDataTable-0b7eb3bf.css">
  <link rel="stylesheet" href="/assets/VGrid-58f30f37.css">
  <link rel="stylesheet" href="/assets/VDatePicker-cc0b3487.css">
  <link rel="stylesheet" href="/assets/app-d6216866.css">
  <link rel="stylesheet" href="/assets/VNavigationDrawer-fa5e3ac6.css">
  <link rel="stylesheet" href="/assets/VTimelineItem-449d67b4.css">
  <link rel="stylesheet" href="/assets/index-d2b8ec79.css">
  <link rel="stylesheet" href="/assets/VSwitch-df4eed3b.css">
  <link rel="stylesheet" href="/assets/VTextarea-1e58334b.css">
  <link rel="stylesheet" href="/assets/index-abe6a8f6.css">
</head>

<body>
    <div id="app"></div>
    
</body>

</html>
