<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vuetify 3</title>
  <script type="module" crossorigin src="/assets/index-d2ce6d11.js"></script>
  <link rel="modulepreload" crossorigin href="/assets/index-4e45aee7.js">
  <link rel="modulepreload" crossorigin href="/assets/pagination-ae441207.js">
  <link rel="modulepreload" crossorigin href="/assets/VToolbar-9af461de.js">
  <link rel="modulepreload" crossorigin href="/assets/VListItem-89204f59.js">
  <link rel="modulepreload" crossorigin href="/assets/VMenu-9c827e24.js">
  <link rel="modulepreload" crossorigin href="/assets/VAlert-dd820182.js">
  <link rel="modulepreload" crossorigin href="/assets/VTextField-76dc202a.js">
  <link rel="modulepreload" crossorigin href="/assets/filter-a23d5e95.js">
  <link rel="modulepreload" crossorigin href="/assets/VAutocomplete-632c9014.js">
  <link rel="modulepreload" crossorigin href="/assets/index-c3587f2d.js">
  <link rel="modulepreload" crossorigin href="/assets/VWindowItem-b9a5f9a8.js">
  <link rel="modulepreload" crossorigin href="/assets/VSheet-95348ee4.js">
  <link rel="modulepreload" crossorigin href="/assets/VCombobox-406b5502.js">
  <link rel="modulepreload" crossorigin href="/assets/VDataTable-44cc5c38.js">
  <link rel="modulepreload" crossorigin href="/assets/VDataTableServer-68d8beac.js">
  <link rel="modulepreload" crossorigin href="/assets/VSpacer-564c42c8.js">
  <link rel="modulepreload" crossorigin href="/assets/VDatePicker-4fc5275f.js">
  <link rel="modulepreload" crossorigin href="/assets/VForm-9b9350a0.js">
  <link rel="modulepreload" crossorigin href="/assets/user-4569635d.js">
  <link rel="modulepreload" crossorigin href="/assets/url-ae18edad.js">
  <link rel="modulepreload" crossorigin href="/assets/user-47582ed0.js">
  <link rel="modulepreload" crossorigin href="/assets/use-swrv-84ac9204.js">
  <link rel="modulepreload" crossorigin href="/assets/app-32529910.js">
  <link rel="modulepreload" crossorigin href="/assets/VCol-7953be84.js">
  <link rel="modulepreload" crossorigin href="/assets/VRow-abb6f530.js">
  <link rel="modulepreload" crossorigin href="/assets/VNavigationDrawer-341c6f23.js">
  <link rel="modulepreload" crossorigin href="/assets/VTooltip-a3e6a386.js">
  <link rel="modulepreload" crossorigin href="/assets/VSwitch-5316ba69.js">
  <link rel="modulepreload" crossorigin href="/assets/VTextarea-67530b4a.js">
  <link rel="modulepreload" crossorigin href="/assets/vuetify-notifier-e74a45d3.js">
  <link rel="stylesheet" href="/assets/index-5d75c0b9.css">
  <link rel="stylesheet" href="/assets/pagination-994cc486.css">
  <link rel="stylesheet" href="/assets/VToolbar-2f153f94.css">
  <link rel="stylesheet" href="/assets/VListItem-c15d55b0.css">
  <link rel="stylesheet" href="/assets/VMenu-700de36b.css">
  <link rel="stylesheet" href="/assets/VAlert-a473ba34.css">
  <link rel="stylesheet" href="/assets/VTextField-4f89b3cb.css">
  <link rel="stylesheet" href="/assets/filter-be42de44.css">
  <link rel="stylesheet" href="/assets/VAutocomplete-e06a67b2.css">
  <link rel="stylesheet" href="/assets/index-2fac4a1e.css">
  <link rel="stylesheet" href="/assets/VWindowItem-72fb4d35.css">
  <link rel="stylesheet" href="/assets/VSheet-db7c2a52.css">
  <link rel="stylesheet" href="/assets/VCombobox-5dfa48f6.css">
  <link rel="stylesheet" href="/assets/VDataTable-0b7eb3bf.css">
  <link rel="stylesheet" href="/assets/VGrid-58f30f37.css">
  <link rel="stylesheet" href="/assets/VDatePicker-cc0b3487.css">
  <link rel="stylesheet" href="/assets/app-d6216866.css">
  <link rel="stylesheet" href="/assets/VNavigationDrawer-fa5e3ac6.css">
  <link rel="stylesheet" href="/assets/VTooltip-eb5e1f69.css">
  <link rel="stylesheet" href="/assets/VSwitch-df4eed3b.css">
  <link rel="stylesheet" href="/assets/VTextarea-1e58334b.css">
  <link rel="stylesheet" href="/assets/index-abe6a8f6.css">
</head>

<body>
    <div id="app"></div>
    
</body>

</html>
