<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vuetify 3</title>
  <script type="module" crossorigin src="/assets/index-908e1a96.js"></script>
  <link rel="modulepreload" crossorigin href="/assets/index-389eb90d.js">
  <link rel="modulepreload" crossorigin href="/assets/pagination-c7c36687.js">
  <link rel="modulepreload" crossorigin href="/assets/VListItem-33b30e67.js">
  <link rel="modulepreload" crossorigin href="/assets/filter-53685dc5.js">
  <link rel="modulepreload" crossorigin href="/assets/VTooltip-71023505.js">
  <link rel="modulepreload" crossorigin href="/assets/user-4569635d.js">
  <link rel="modulepreload" crossorigin href="/assets/url-ae18edad.js">
  <link rel="modulepreload" crossorigin href="/assets/user-b7797f89.js">
  <link rel="modulepreload" crossorigin href="/assets/use-swrv-efcdc67d.js">
  <link rel="modulepreload" crossorigin href="/assets/app-6b7010d7.js">
  <link rel="modulepreload" crossorigin href="/assets/VAlert-4115356d.js">
  <link rel="modulepreload" crossorigin href="/assets/VAutocomplete-ae90abb9.js">
  <link rel="modulepreload" crossorigin href="/assets/VSlideGroup-af7fc9bb.js">
  <link rel="modulepreload" crossorigin href="/assets/VSlideGroupItem-02ca8b6b.js">
  <link rel="modulepreload" crossorigin href="/assets/VWindowItem-838a7550.js">
  <link rel="modulepreload" crossorigin href="/assets/VSheet-1fca95db.js">
  <link rel="modulepreload" crossorigin href="/assets/VCombobox-b9fc92ac.js">
  <link rel="modulepreload" crossorigin href="/assets/VDataTable-ba24aec1.js">
  <link rel="modulepreload" crossorigin href="/assets/VDataTableServer-ff3b3c97.js">
  <link rel="modulepreload" crossorigin href="/assets/VRow-03792ff9.js">
  <link rel="modulepreload" crossorigin href="/assets/VSpacer-724c3e40.js">
  <link rel="modulepreload" crossorigin href="/assets/VDatePicker-e25730e1.js">
  <link rel="modulepreload" crossorigin href="/assets/VTimelineItem-6f6f2238.js">
  <link rel="modulepreload" crossorigin href="/assets/VForm-260ac4aa.js">
  <link rel="modulepreload" crossorigin href="/assets/VContainer-b868635e.js">
  <link rel="modulepreload" crossorigin href="/assets/VCol-2f051430.js">
  <link rel="modulepreload" crossorigin href="/assets/VRadioGroup-7b2dd26c.js">
  <link rel="modulepreload" crossorigin href="/assets/VSwitch-e407318f.js">
  <link rel="modulepreload" crossorigin href="/assets/VTabs-59252b77.js">
  <link rel="modulepreload" crossorigin href="/assets/VTextarea-a768c6cc.js">
  <link rel="modulepreload" crossorigin href="/assets/index-92ab73cd.js">
  <link rel="modulepreload" crossorigin href="/assets/_commonjsHelpers-de833af9.js">
  <link rel="modulepreload" crossorigin href="/assets/index.esm-7cfa3638.js">
  <link rel="modulepreload" crossorigin href="/assets/vuetify-notifier-a2163713.js">
  <link rel="stylesheet" href="/assets/index-5d75c0b9.css">
  <link rel="stylesheet" href="/assets/pagination-c405b3f3.css">
  <link rel="stylesheet" href="/assets/VListItem-c15d55b0.css">
  <link rel="stylesheet" href="/assets/filter-98a73290.css">
  <link rel="stylesheet" href="/assets/VTooltip-cf3c1fdb.css">
  <link rel="stylesheet" href="/assets/app-7fea8d9d.css">
  <link rel="stylesheet" href="/assets/VAlert-a473ba34.css">
  <link rel="stylesheet" href="/assets/VAutocomplete-e06a67b2.css">
  <link rel="stylesheet" href="/assets/VSlideGroup-80d5799a.css">
  <link rel="stylesheet" href="/assets/VSlideGroupItem-5314d701.css">
  <link rel="stylesheet" href="/assets/VWindowItem-72fb4d35.css">
  <link rel="stylesheet" href="/assets/VSheet-db7c2a52.css">
  <link rel="stylesheet" href="/assets/VCombobox-5dfa48f6.css">
  <link rel="stylesheet" href="/assets/VDataTable-0b7eb3bf.css">
  <link rel="stylesheet" href="/assets/VRow-58f30f37.css">
  <link rel="stylesheet" href="/assets/VDatePicker-cc0b3487.css">
  <link rel="stylesheet" href="/assets/VTimelineItem-b81b5169.css">
  <link rel="stylesheet" href="/assets/VRadioGroup-5887bb81.css">
  <link rel="stylesheet" href="/assets/VSwitch-df4eed3b.css">
  <link rel="stylesheet" href="/assets/VTabs-7361ed90.css">
  <link rel="stylesheet" href="/assets/VTextarea-1e58334b.css">
  <link rel="stylesheet" href="/assets/index-9d7f5f5f.css">
</head>

<body>
    <div id="app"></div>
    
</body>

</html>
