<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vuetify 3</title>
  <script type="module" crossorigin src="/assets/index-8bccf33e.js"></script>
  <link rel="modulepreload" crossorigin href="/assets/index-5a8810eb.js">
  <link rel="modulepreload" crossorigin href="/assets/axios-49f8fa46.js">
  <link rel="modulepreload" crossorigin href="/assets/VCard-d49ade15.js">
  <link rel="modulepreload" crossorigin href="/assets/VTextField-39315563.js">
  <link rel="modulepreload" crossorigin href="/assets/VListItem-3c5dff38.js">
  <link rel="modulepreload" crossorigin href="/assets/scopeId-f5a05829.js">
  <link rel="modulepreload" crossorigin href="/assets/filter-edad2968.js">
  <link rel="modulepreload" crossorigin href="/assets/VTabs-671c19ee.js">
  <link rel="modulepreload" crossorigin href="/assets/VAlert-1ee91132.js">
  <link rel="modulepreload" crossorigin href="/assets/VSpacer-41eb520a.js">
  <link rel="modulepreload" crossorigin href="/assets/VDatePicker-c1fea8a2.js">
  <link rel="modulepreload" crossorigin href="/assets/VDataTableServer-13c65171.js">
  <link rel="modulepreload" crossorigin href="/assets/VSwitch-8cf045ab.js">
  <link rel="modulepreload" crossorigin href="/assets/use-swrv-5b254502.js">
  <link rel="modulepreload" crossorigin href="/assets/app-1a9ba1db.js">
  <link rel="modulepreload" crossorigin href="/assets/vuetify-notifier-d27f4f45.js">
  <link rel="modulepreload" crossorigin href="/assets/VRow-f2ffab51.js">
  <link rel="modulepreload" crossorigin href="/assets/VTextarea-1859d05c.js">
  <link rel="stylesheet" href="/assets/index-5d75c0b9.css">
  <link rel="stylesheet" href="/assets/axios-bb5a7068.css">
  <link rel="stylesheet" href="/assets/VCard-18a5c145.css">
  <link rel="stylesheet" href="/assets/VTextField-b3964e2a.css">
  <link rel="stylesheet" href="/assets/VListItem-c15d55b0.css">
  <link rel="stylesheet" href="/assets/scopeId-ea7dfcea.css">
  <link rel="stylesheet" href="/assets/filter-f29c789c.css">
  <link rel="stylesheet" href="/assets/VTabs-211decc0.css">
  <link rel="stylesheet" href="/assets/VAlert-a473ba34.css">
  <link rel="stylesheet" href="/assets/VGrid-58f30f37.css">
  <link rel="stylesheet" href="/assets/VDatePicker-7823c9d2.css">
  <link rel="stylesheet" href="/assets/VDataTableServer-0b7eb3bf.css">
  <link rel="stylesheet" href="/assets/VSwitch-df4eed3b.css">
  <link rel="stylesheet" href="/assets/app-3c67b88e.css">
  <link rel="stylesheet" href="/assets/VTextarea-1e58334b.css">
  <link rel="stylesheet" href="/assets/index-3ad4d79b.css">
</head>

<body>
    <div id="app"></div>
    
</body>

</html>
