{% extends 'base.html.twig' %}

{% block title %}Edit EmailMessageTemplate{% endblock %}

{% block body %}
    <h1>Edit EmailMessageTemplate</h1>

    {{ include('api/mailing/template/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_api_mailing_template_index') }}">back to list</a>

    {{ include('api/mailing/template/_delete_form.html.twig') }}
{% endblock %}
