{% extends 'base.html.twig' %}

{% block title %}New Channel{% endblock %}

{% block body %}
    <h1>Create new Channel</h1>

    {{ include('api/admin/channel/channel/_form.html.twig') }}

    <a href="{{ path('app_api_admin_channel_channel_index') }}">back to list</a>
{% endblock %}
